@font-face {
  font-family: "Archivo";
  src: url("assets/fonts/Archivo-VariableFont_wdth,wght.ttf");
}

@import "tailwindcss";

@layer theme {
  :root {
    --font-archivo: "Archivo", sans-serif;
    --font-family-sans: var(--font-archivo);
  }
}

/* Apply the font globally */
body {
  font-family: var(--font-archivo);
}

/* Times New Roman font utility */
.font-times {
  font-family: "Times New Roman", Times, serif;
}
